# Logs
logs
*.log
npm-debug.log*
cookies.txt
.DS_Store
Thumbs.db
.env

# Dependency directory
node_modules
npm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# Typescript build
dist
temp
.env
build
coverage
*.log
*.pid
# === тестовые артефакты ===
test*.json

# === IDE ===
.vscode/
.idea/
*.swp